.AsyncComputer__title {
    display: flex;
    align-items: center;
}

.AsyncComputer__icon {
    background: url('../../assets/images/caclulator.png') no-repeat center center;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.AsyncComputer__calculate-icon {
    width: 16px;
    height: 16px;
    margin-right: 1em;
    fill: #000;
}

.AsyncComputer__calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;

    &:hover {
        .AsyncComputer__calculate-icon {
            fill: #f00
        }
    }
}
