{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}