@import '../../theme/index';

$colors: (primary, secondary, success, danger, warning, info, light, dark, link);

.Button {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    background-color: themed('button.background-color');
    border-color: themed('button.border-color');
    color: themed('button.color');

    @each $color in $colors {
      &--#{$color} {
        background-color: themed('button.#{$color}.background-color');
        border-color: themed('button.#{$color}.border-color');
        color: themed('button.#{$color}.color');

        &:hover {
          background-color: themed('button.#{$color}.hover.background-color');
          border-color: themed('button.#{$color}.hover.border-color');
          color: themed('button.#{$color}.hover.color');
        }
      }
    }

    &--outline {
      @each $color in $colors {
        &--#{$color} {
          background-color: themed('button.outline.#{$color}.background-color');
          border-color: themed('button.outline.#{$color}.border-color');
          color: themed('button.outline.#{$color}.color');

          &:hover {
            background-color: themed('button.outline.#{$color}.hover.background-color');
            border-color: themed('button.outline.#{$color}.hover.border-color');
            color: themed('button.outline.#{$color}.hover.color');
          }
        }
      }
    }
}
