.GetStarted {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.GetStarted__content {
    flex: 1 1 0;
    margin-bottom: 3em;
}

.GetStarted__caption {
    text-align: left;
}

.GetStarted__code {
    display: block;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.GetStarted__line {
    display: block;
}
