@import '../../theme/index';

.Popup__content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: themed('color.background.accent');
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
}

.Popup {
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
        .Popup__content {
            opacity: 1;
            visibility: visible;
        }
    }
}
