$names: (xs, sm, md, lg);
$breakpoints: (576px, 768px, 992px, 1200px);
$sizes: (100%, 750px, 970px, 1170px);

.container {
    margin-left: auto;
    margin-right: auto;

    .row {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
    }

    @for $index from 1 through length($breakpoints) {
        $breakpoint-name: nth($names, $index);
        $breakpoint: nth($breakpoints, $index);
        $size: nth($breakpoints, $index);

        @media screen and (min-width: $breakpoint) {
            width: $size;

            @each $column-name in $names {
                @for $column from 1 through 12 {
                    .col-#{$column-name}-#{$column} {
                        flex: if($breakpoint-name == $column-name, 1 1 (100% / 12 * $column), 0 0 100%);
                        max-width: if($breakpoint-name == $column-name, (100% / 12 * $column), 100%);
                    }
                }
            }
        }
    }
}
