@import '~normalize.css';
@import '../theme/index';
@import './grid';

html, body, #root {
    height: 1px;
    min-height: 100%;
}

body {
    font-size: themed('font.size');
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
