@import './core';
@import 'theme-extended/index';

/**
 * Текущая используемая тема
 */
$theme: $theme-extended;

/**
 * Возвращает указанное значение из текущей используемой темы.
 * Например:

 // пусть есть такая тема:
 $theme: (
    font-size: 16px;
    button: (
        background-color: #fff,
        border: (
            type: solid,
            thickness: 1px,
            color: #fff,
        ),
        color: #000,
    )
 );

 // в scss-файле, в котором мы хотим использовать тему, пишем вот так:
 @import '../theme/index';

 .some-class {
    background-color: themed('button.background-color');
    border: themed('button.border.type') themed('button.border.thickness') themed('button.border.color');
    color: themed('button.color');
    font-size: themed('font-size');
 }

 */
@function themed($property, $fallback: null) {
  @return getProperty($theme, $property, $fallback);
}
