@import '../../theme/index';

$secondaryTextColor: #ff7e5a;

@keyframes pulse {
    0% { transform: scale(1) rotate(0deg); }
    16.665% { transform: scale(1.2) rotate(180deg); }
    33.33% { transform: scale(1) rotate(360deg); }
    100% { transform: scale(1) rotate(360deg); }
}

@keyframes change-fill {
    0% { fill: themed('color.text.accent'); }
    16.665% { fill: $secondaryTextColor; }
    33.33% { fill: themed('color.text.accent'); }
    100% { fill: themed('color.text.accent'); }
}

.Header__logo {
    width: 5em;
    fill: themed('color.text.accent');

    g {
        fill: themed('color.text.accent');
    }
}

.Header__title {
    margin: .5em 0 0 0;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    background: themed('color.background.accent');
    color: themed('color.text.accent');
    font-size: 2em;

    &--minimize {
        padding: 0 1em;
        font-size: 1em;
        flex-direction: row;

        .Header__title {
            margin: 0;
        }
    }

    &--animated {
        .Header__logo {
            animation-name: pulse;
            animation-timing-function: linear;
            animation-delay: 10s;
            animation-duration: 13s;
            animation-iteration-count: infinite;

            g {
                animation-name: change-fill;
                animation-timing-function: linear;
                animation-delay: 10s;
                animation-duration: 13s;
                animation-iteration-count: infinite;
            }
        }

    }
}
