@import '../../theme/index';

.Main {
    height: 1px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Main__content {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main__get-started {
    background-color: themed('color.background.default');
    border: 1px solid themed('color.background.accent');
    color: themed('color.text.default');
    border-radius: 4px;
    outline: none;
    transition: background-color .2s ease-in, border-color .2s ease-in, color .2s ease-in;
    padding: .5em 1em;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: themed('color.text.default');
    }

    &:hover {
        background-color: themed('color.background.accent');
        border-color: themed('color.background.default');
        color: themed('color.text.accent');

        &:visited,
        &:active {
            text-decoration: none;
            color: themed('color.text.accent');
        }
    }

}
