@import '../../theme/index';

$secondaryTextColor: #ff7e5a;

@keyframes pulse {
    0% { transform: scale(1) rotate(0deg); }
    16.665% { transform: scale(1.2) rotate(180deg); }
    33.33% { transform: scale(1) rotate(360deg); }
    100% { transform: scale(1) rotate(360deg); }
}

@keyframes change-fill {
    0% { fill: themed('color.text.accent'); }
    16.665% { fill: $secondaryTextColor; }
    33.33% { fill: themed('color.text.accent'); }
    100% { fill: themed('color.text.accent'); }
}

.Main {
    height: 1px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    background: themed('color.background.accent');
    color: themed('color.text.accent');
    font-size: 2em;
}

.Main__logo {
    width: 5em;

    animation-name: pulse;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-duration: 13s;
    animation-iteration-count: infinite;

    g {
        fill: #fff;
        animation-name: change-fill;
        animation-timing-function: linear;
        animation-delay: 10s;
        animation-duration: 13s;
        animation-iteration-count: infinite;
    }
}

.Main__title {
    margin: .5em 0 0 0;
}

.Main__content {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main__get-started {
    background-color: themed('color.background.default');
    border: 1px solid themed('color.background.accent');
    color: themed('color.text.default');
    border-radius: 4px;
    outline: none;
    transition: background-color .2s ease-in, border-color .2s ease-in, color .2s ease-in;
    padding: .5em 1em;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: themed('color.text.default');
    }

    &:hover {
        background-color: themed('color.background.accent');
        border-color: themed('color.background.default');
        color: themed('color.text.accent');

        &:visited,
        &:active {
            text-decoration: none;
            color: themed('color.text.accent');
        }
    }

}
