@import '../../theme/index';

.Nav {
    flex: 1;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.Nav__item {
    padding: 1em;
    background-color: themed('color.background.accennt');
    transition: background-color 0.2s ease-out;
    cursor: pointer;

    &:hover {
        background-color: darken(themed('color.background.accent'), 5%);
    }
}

.Nav__menu {
    display: flex;
    flex-direction: column;
}

.Nav__menu-item {
    padding: 1em;
    background-color: themed('color.background.accennt');
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: darken(themed('color.background.accent'), 5%);
    }
}

.Nav__link {
    display: flex;
    align-items: center;
    color: themed('color.text.accent');
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus,
    &:visited,
    &:active {
        color: themed('color.text.accent');
        text-decoration: none;
    }
}
